
<div class="">
    <h1 class="my-4">{{heading}}</h1>

    <!-- Blog Post -->
    <ng-container *ngFor="let post of posts">
      <div class="card mb-4" (click)="login()">
        <img class="card-img-top" src="{{post.image || 'http://placehold.it/750x300'}}" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{post.title}}</h2>
          <p class="card-text">{{post.text.substr(0, 140)}}...</p>
          <a routerLink="/blog/post/{{post.slug}}" class="btn btn-primary">Читать &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          {{post.publish_date | date: 'dd.MM.yyyy H:mm'}} by
          <a>{{post.author.username}}</a>
          <span style="float:right;">Рейтинг: {{post.rating || 'Не оценен'}}</span>
        </div>
      </div>
    </ng-container>

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item {{!previous ? 'disabled' : ''}}">
        <a class="page-link" (click)="getPosts(page - 1)">&larr; Older</a>
      </li>
      <li class="page-item {{!next ? 'disabled' : ''}}">
        <a class="page-link" (click)="getPosts(page + 1)">Newer &rarr;</a>
      </li>
    </ul>
</div>
